@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (mix-width: 768px) {
    .navbar-content {
        
        width: 100%;
       padding: 0px;
      }
}
/* index.css */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    transition: background-color 0.3s;
  }
  
  body.dark {
    background-color: #555a63; /* Dark mode background */
    color: #f7fafc; /* Dark mode text color */
  }
  
 /* index.css */

.navbar {

    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-content {
    display: flex;
    width: 100%;
    margin:auto;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
  }
  .md{
width: 70vw;
  }
  .navbar-logo {
    height: 40px;
  }
  
  .light-mode {
    background-color: #F7EFE5; /* Equivalent to bg-red-400 */
  }
  
  .dark-mode {
    background-color: #333; /* Dark mode color */
  }
  
  